body {
    background: url(../images/loading.gif) 50% 50% no-repeat fixed;
    
}
.pages {
    display:none;
}
#home { 
    background: url(../images/home-bg.png) 50% 0 no-repeat fixed; 
    height: 1000px; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
 
#home article { 
   height: 458px; 
   position: absolute; 
   text-align: left; 
   width: 55%;
   padding-left: 38%;
}
h1 {
   font-size: 48px;
}
#bmx { 
   background: url(../images/bmx-bg.jpg) 50% 0 no-repeat fixed; 
   min-height: 1000px; 
   height: 1000px; 
   margin: 0 auto; 
   width: 100%; 
   max-width: 1920px; 
   position: relative; 
   -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
   box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#bmx content {
   height: 458px;
   position: absolute;
   text-align: left;
   padding-left: 60px;
   top: 450px;
   width: 50%;
   color:white;
   text-shadow: 2px 2px 5px #000;
}
#bmx article { 
   height: 458px; 
   position: absolute; 
   text-align: center; 
   padding-left: 260px;
   top: 250px; 
   width: 100%; 
}
#lc {
   background: url(../images/lc-bg.jpg) 50% 0 repeat fixed; min-height: 1000px;
   height: 1000px;
   margin: 0 auto;
   width: 100%;
   max-width: 1920px;
   position: relative;
   -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
   box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#lc content {
   height: 458px;
   position: absolute;
   text-align: left;
   padding-left: 60px;
   top: 250px;
   width: 50%;
   text-shadow: 2px 2px 5px #FFF;
}
#lc article {
   height: 458px;
   position: absolute;
   text-align: right;
   top: 750px;
   width: 100%;
}
#lcm {
   background: url(../images/lcm-bg.png) 50% 0 no-repeat fixed;
   height: 1000px;
   margin: 0 auto;
   width: 100%;
   max-width: 1920px;
   position: relative;
   -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
   box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#lcm content {
   height: 458px;
   position: absolute;
   text-align: right;
   top: 400px;
   width: 65%;
   padding-left: 30%;
   text-shadow: 2px 2px 5px #FFF;
}
#lcm article {
   height: 458px;
   position: absolute;  
   text-align: left;    
   top: 75px;      
   width: 100%;
   padding-left:10%;;
}
#nerds {
   background: url(../images/nerds-bg.jpg) 50% 0 no-repeat fixed;
   height: 1000px;
   margin: 0 auto;
   width: 100%;
   max-width: 1920px;
   position: relative;
   -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
   box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#nerds content {
   height: 458px;
   position: absolute;
   text-align: center;
   top: 400px;
   width: 100%;
   color: white;
   text-shadow:2px 2px 5px #000;
}
#nerds article {
   height: 458px;
   position: absolute;  
   text-align: center;    
   top: 250px;      
   width: 100%;
}
#family {
   background: url(../images/family-bg.jpg) 50% 0 no-repeat fixed;
   height: 1000px;
   margin: 0 auto;
   width: 100%;
   max-width: 1920px;
   position: relative;
   -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
   box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#family content {
   height: 250px;
   position: absolute;
   text-align: center;
   top: 150px;
   width: 100%;
   color: white;
   text-shadow: 2px 2px 5px #000;
}
#family article {
   height: 458px;
   position: absolute;  
   text-align: center;    
   top: 400px;      
   width: 100%;        
}
#contact {
   background: url(../images/home-bg.png) 50% 0 no-repeat fixed;
   height: 1000px;
   margin: 0 auto;
   width: 100%;
   max-width: 1920px;
   position: relative;
   -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
   box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#contact article {
   height: 458px;
   position: absolute;  
   text-align: right;    
   top: 250px;      
   width: 55%;
   padding-left:40%;
}
@media only screen and (max-width: 950px), only screen and (max-device-width: 950px) {
#home {
   background: url(../images/home-bg.png) 50% 0 no-repeat;
}
#bmx {
   background: url(../images/bmx-bg.jpg) 50% 0 no-repeat;
}
#lc  {
   background: url(../images/lc-bg.jpg) 50% 0 no-repeat;
   min-height: 950px;
   height: 950px;
}
#lc content {
   top: 50px;
}
#lcm  {
   background: url(../images/lcm-bg.png) 50% 0 no-repeat;
}
#lcm content {
   top: 650px;
}
#nerds  {
   background: url(../images/nerds-bg.jpg) 50% 0 no-repeat;
}
#nerds content {
   color: white;
   top: 500px;
}
#family  {
   background: url(../images/family-bg.jpg) 50% 0 no-repeat;
}  
#contact  {
   background: #fff url(../images/home-bg.png) 50% 0 no-repeat;
   height: 850px;
}
#contact article {
   top: 0px;
}
}
